

body{
    margin-top: 35%;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

button{
    background-color: lightblue;
    height: 100px;
    width: 80px;
    font-size: 24px;
    border-radius: 35px;
    padding: 5px 25px;
    cursor: pointer;
}